doctype
html(lang="en" ng-app="sensuApp")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
    title Sensu Dashboard
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(name="author" content="Justin Kolberg")
    meta(name="Copyright" content="Copyright Sonian, Inc. 2014. MIT License.")
    //- standard favicon
    link(rel="icon" type="image/png" href="img/favicon_64.png")
    //- favicon for iPhone
    link(rel="apple-touch-icon" type="image/png" href="img/favicon_57.png")
    //- favicon for Retina iPhone
    link(rel="apple-touch-icon" type="image/png" href="img/favicon_114.png" sizes="114x114")
    //- favicon for iPad
    link(rel="apple-touch-icon" type="image/png" href="img/favicon_72.png" sizes="72x72")
    //- favicon for Retina iPad
    link(rel="apple-touch-icon" type="image/png" href="img/favicon_144.png" sizes="144x144")
    //- multi resolution favicon for IE
    link(rel="shortcut icon" href="favicon.ico")
    link(rel="stylesheet" href="css/vendor/bootstrap/bootstrap.css")
    link(rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.1.0/css/font-awesome.min.css")
    link(rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lato:300,400,700")
    link(rel="stylesheet" type="text/css" href="css/app.css")
  body(ng-controller="MainController")
    div
    .navbar.navbar-xs.show-xs.hidden-sm.hidden-md.hidden-lg(role="navigation")
      a(href="#").fa.fa-bars.fa-2x
      h3 Sensu Dashboard
    .navbar.navbar-twitch.hidden-xs(role="navigation")
      .container
        div
          ul.nav.navbar-nav
            li#dashboard
              a(ui-sref="dashboard")
                span.small-nav(data-toggle="tooltip" data-placement="right" title="Dashboard")
                  i.fa.fa-tachometer
            li#events
              a(ui-sref="events")
                span.small-nav(data-toggle="tooltip" data-placement="right" title="Events")
                  i.fa.fa-tasks
            li#clients
              a(ui-sref="clients")
                span.small-nav(data-toggle="tooltip" data-placement="right" title="Clients")
                  i.fa.fa-hdd-o
            li#stashes
              a(ui-sref="stashes")
                span.small-nav(data-toggle="tooltip" data-placement="right" title="Stashes")
                  i.fa.fa-key
            li#checks
              a(ui-sref="checks")
                span.small-nav(data-toggle="tooltip" data-placement="right" title="Checks")
                  i.fa.fa-check-square
            li#info
              a(ui-sref="info")
                span.small-nav(data-toggle="tooltip" data-placement="right" title="Information")
                  i.fa.fa-info-circle
    #sidebar-spacer.hidden-xs
    #page-wrapper
      .main-view(ui-view)

  script(src="js/vendor/jquery/jquery.js")
  script(src="js/vendor/bootstrap/bootstrap.js")
  script(src="js/vendor/angular/angular.js")
  script(src="js/vendor/angular-animate/angular-animate.js")
  script(src="js/vendor/angular-resource/angular-resource.js")
  script(src="js/vendor/angular-ui-router/angular-ui-router.js")
  script(src="js/app.js")
