#counts_container.form-stacked
  ul
    li
      span.label.label-success {{total}} total
    li
      span.label.label-danger {{critical}} critical
    li
      span.label.label-warning {{warning}} warning
    li
      span.label.label-default {{unknown}} unknown
