h1 Events

h3.critical.center Critical Status

.table-wrapper
  .table
    .table-row.table-header.critical
      .table-cell Client
      .table-cell Check
      .table-cell Output
    .table-row(ng-repeat="event in events")
      .table-cell
        i.fa.fa-volume-off.fa-fw
        | {{ event.client.name }}
      .table-cell
        i.fa.fa-volume-up.fa-fw
        | {{ event.check.name }}
      .table-cell {{ event.check.output }}

h3.unknown.center Unknown Status

.table-wrapper
  .table
    .table-row.table-header.unknown
      .table-cell Client
      .table-cell Check
      .table-cell Output
    .table-row(ng-repeat="event in events")
      .table-cell
        i.fa.fa-volume-up.fa-fw
        | {{ event.client.name }}
      .table-cell
        i.fa.fa-volume-up.fa-fw
        | {{ event.check.name }}
      .table-cell {{ event.check.output }}

h3.warning.center Warning Status

.table-wrapper
  .table
    .table-row.table-header.warning
      .table-cell Client
      .table-cell Check
      .table-cell Output
    .table-row(ng-repeat="event in events")
      .table-cell
        i.fa.fa-volume-up.fa-fw
        | {{ event.client.name }}
      .table-cell
        i.fa.fa-volume-off.fa-fw
        | {{ event.check.name }}
      .table-cell {{ event.check.output }}
