.container-fluid
  .row-fluid
    .col-lg-12
      h1 Events
  .row
  #events-list.list
    .event-columns.row-fluid
      .col-sm-4
        h3.critical Critical
        .event-items
          .event-item(ng-repeat="event in events")
            .row-fluid
              .col-xs-4
                i.icon-volume-up.icon-white
                span {{ event.client.name }}
              .col-xs-4
                i.icon-volume-up.icon-white
                span {{ event.check.name }}
              .col-xs-4
                span {{ event.check.executed | date }}
              .clearfix
      .col-sm-4
        h3.unknown Unknown
        .event-items
          .event-item(ng-repeat="event in events")
            .row-fluid
              .col-xs-4
                i.icon-volume-up.icon-white
                span {{ event.client.name }}
              .col-xs-4
                i.icon-volume-up.icon-white
                span {{ event.check.name }}
              .col-xs-4
                span {{ event.check.executed | date }}
              .clearfix
      .col-sm-4
        h3.warning Warning
        .event-items
          .event-item(ng-repeat="event in events")
            .row-fluid
              .col-xs-4
                i.icon-volume-up.icon-white
                span {{ event.client.name }}
              .col-xs-4
                i.icon-volume-up.icon-white
                span {{ event.check.name }}
              .col-xs-4
                span {{ event.check.executed | date }}
              .clearfix
      .clearfix
    // .event-rows
    //   .event-row(ng-repeat="event in events | filter:sortByStatus" ng-class="{ 'critical':isCritical(event), 'warning':isWarning(event), 'unknown':isUnknown(event) }")
    //     .row-fluid
    //       .col-xs-3
    //         i.icon-volume-up.icon-white
    //         span {{ event.client.name }}
    //       .col-xs-6
    //         i.icon-volume-up.icon-white
    //         span {{ event.check.name }}
    //       .col-xs-3
    //         span {{ event.check.executed | date:'yyyy-MM-ddTHH:mm:ss:Z' }}
    //       .clearfix
    //     .row-fluid
    //       .col-lg-12.output
    //         span {{ event.check.output }}
    //       .clearfix
    //     .clearfix
