.container-fluid
  .row-fluid
    .col-lg-12
      h1 Dashboard
  .row
    .dashboard
      .col-lg-3
        #events.default
          .small Total Events
          i.fa.fa-bell.fa-4x
          | &nbsp;&nbsp;&nbsp;
          span.count {{ events.length }}
      .col-lg-3
        #critical.default
          .small Events in Critical State
          i.fa.fa-ban.fa-4x
          | &nbsp;&nbsp;&nbsp;
          span.count {{ criticalEvents().length }}
      .col-lg-3
        #warning.default
          .small Events in Unknown State
          i.fa.fa-exclamation-triangle.fa-4x
          | &nbsp;&nbsp;&nbsp;
          span.count {{ unknownEvents().length }}
      .col-lg-3
        #clients.default
          .small Events in Warning State
          i.fa.fa-hdd-o.fa-4x
          | &nbsp;&nbsp;&nbsp;
          span.count {{ warningEvents().length }}
  #events-list.list
