html, html a {
  -webkit-font-smoothing: antialiased !important;
}

body {
  background-color: #fff;
  font-weight: 400;
  color: #4d4d4d;
  font-family: 'Lato', sans-serif;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  color: #56575B;
}

.page-wrapper {
  position: absolute;
  width: 100%;
}

hr {
  margin-top: 5px;
  margin-bottom: 10px;
}

/* Navigation buttons */

.btn-circle {
  width: 25px;
  height: 25px;
  text-align: center;
  padding: 0 0 0 0;
  font-size: 15px;
  background-color: #fff;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
  border-width: 2px;
  outline: none!important;
  margin-right: 7px;
}

.btn-red {
  color: #DA3610;
  border-color: #DA3610;
}

.btn-green {
  color: #43ac6a;
  border-color: #43ac6a;
}

.btn-circle:hover {
  color: black;
}

.list {
  position: relative;
  //padding: 20px 15px 0px 10px;
  min-height: 1px;
  a {
    text-decoration: none;
    color: #000;
  }
  td span.output {
    text-overflow: ellipsis;
    overflow: hidden;
    display: block;
    max-width: 320px;
    white-space: nowrap;
  }
}

.well {
  border: 0px;
  &.success {
    border-left: 3px solid #43ac6a;
  }
  &.warning {
    border-left: 3px solid #e99002;
  }
  &.danger {
    border-left: 3px solid #F04124;
  }
  &.default {
    border-left: 3px solid #2C394A;
  }
  .lead {
    margin-bottom: 10px;
    font-weight: 400;
    text-transform: uppercase;
    color: #333;
    font-size: 18px;
  }
  span {
    display: block;
  }
  &:hover {
    background-color: rgb(255, 255, 204);
  }
}

.table {
  > tbody > tr > td {
    vertical-align: middle;
  }
  .hiddenRow {
    padding: 0 !important;
  }
}

.btn-hover {
  font-weight: normal;
  color: #333333;
  cursor: pointer;
  background-color: inherit;
  border-color: transparent;
  width: 50%;
}

.btn.disabled {
  color: #C8C8C8;
  width: 50%;
}

.panel {
  border: 0px;
  -webkit-box-shadow: 0 0 0;
  box-shadow: 0 0 0;
  .panel-title {
    font-size: 15px;
    text-transform: uppercase;
  }
  .list-group-item {
    height: auto;
    overflow: auto;
    border-right: 0px;
    border-left: 0px;
  }
}

.label {
  font-weight: 800;
  text-transform: uppercase;
  font-size: 10px;
}

.breadcrumb {
  font-size: 12px;
}

.btn-black {
  background: #2C394A;
  color: #fff;
  border-color: #222;
  &:hover, &:active, &:focus {
    background: #2C394A;
    border-color: #2C394A;
    color: #fff;
  }
}

.title {
  text-transform: uppercase;
}

.subtitle {
  text-transform: uppercase;
  font-size: 12px;
  .fa {
    padding-right: 5px;
  }
}

.timestamp {
  color: #333;
  font-size: 12px;
  .fa {
    padding-right: 3px;
  }
}

.tag {
  padding: 3px 7px;
  color: #fff;
  background-color: #2C394A;
  display: inline;
  float: left;
  clear: left;
  margin-bottom: 3px;
  font-size: 12px;
  text-transform: none;
  .fa {
    padding-right: 5px;
  }
}

$fade-time: 0.5s;

.main-view {
  &.ng-leave {
    @include animation(fadeOut, $fade-time)
  }

  &.ng-enter {
    @include animation(fadeIn, $fade-time)
  }
}

.container-fluid {
  padding: 0;
}
